<?xml version="1.0" encoding="utf-8"?>
<!--
Ce fichier est utilisé par le processus de publication/package de votre projet web. Vous pouvez personnaliser le comportement de ce processus
en modifiant ce fichier MSBuild. Pour en savoir plus à ce sujet, visitez https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d8839b85-7546-4eeb-baed-a820b6ab5866/resourceGroups/MovieTimeApp/providers/Microsoft.Web/sites/MovieTimeApp</ResourceId>
    <ResourceGroup>MovieTimeApp</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://movietimeapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>movietimeapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MovieTimeApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MovieTimeApp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:movietimeserveur.database.windows.net,1433;Initial Catalog=MovieTime;User ID=Jojo;Password=Test*123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MovieTimeWebAPI.Models.ApplicationDbContext, MovieTimeWebAPI" MigrationConfiguration="MovieTimeWebAPI.Migrations.Configuration, MovieTimeWebAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:movietimeserveur.database.windows.net,1433;Initial Catalog=MovieTime;User ID=Jojo;Password=Test*123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>